<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uit.itszoo.izrandom">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IZRandom">
        <activity android:name=".random_module.chooser.chooser_custom.ChooserCustomActivity"></activity>
        <activity android:name=".random_module.chooser.ChooserActivity" />
        <activity android:name=".random_module.flip_coin.flip_coin_custom.FlipCoinCustomActivity" />
        <activity android:name=".random_module.flip_coin.FlipCoinActivity" />
        <activity android:name=".random_module.roll_dice.roll_dice_custom.RollDiceCustomActivity" />
        <activity android:name=".random_module.random_direction.random_direction_custom.RandomDirectionCustomActivity" />
        <activity android:name=".random_module.random_integer.random_integer_custom.RandomIntegerCustomActivity" />
        <activity android:name=".random_module.lucky_wheel.LuckyWheelActivity" />
        <activity android:name=".random_module.random_integer.RandomIntegerActivity" />
        <activity android:name=".random_module.roll_dice.RollDiceActivity" />
        <activity android:name=".random_module.random_direction.RandomDirectionActivity" />
        <activity android:name=".random_module.lucky_wheel.lucky_wheel_custom.LuckyWheelCustomActivity" />
        <activity android:name=".random_module.lucky_wheel.lucky_wheel_custom.AddNewLuckyWheelActivity" />
        <activity android:name=".random_module.lucky_wheel.edit_lucky_wheel.EditLuckyWheelActivity" />
        <activity
            android:name=".home.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>